<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>I'm Daniel Romero</h1>
    <p>
      Welcome to app tests for Docker!
    </p>
  </div>
</div>
